@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Playpen+Sans:wght@400;800&family=Plus+Jakarta+Sans:wght@300;400;500&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: " Montserrat", sans-serif;
}

.div,
.img {
  padding: 0;
  margin: 0;
  border: 0;
}

@media (max-width: 1024px) {
}

@media (max-width: 575px) {
}
