.top {
  background-image: url("../../../assets/img/backImg.svg");
  padding: 20px 70px;
}

@media (max-width: 1024px) {
  .top {
    padding: 20px 50px;
  }
}

// @media (max-width: 768px) {
//   .top {
//     padding: 20px 50px;
//   }
// }

@media (max-width: 575px) {
  .top {
    padding: 20px 35px;
  }
}
