.top {
  background-image: url('https://github.com/ashimrai123/Landing_Page/blob/49a886884735f82ee364e612fee69da440e29a35/styles/scss/partials/backImg.svg');
  padding: 20px 70px;
}

@media (max-width: 1024px) {
  .top {
    padding: 20px 50px;
  }
}

// @media (max-width: 768px) {
//   .top {
//     padding: 20px 50px;
//   }
// }

@media (max-width: 575px) {
  .top {
    padding: 20px 35px;
  }
}
